@charset "utf-8";
/* CSS Document */


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-image: url('./imgs/banner.JPG');
  background-size: cover;
  background-position: center;
  height: 35vh;
  text-align: center;
}

header p {
  color: #fff;
  font-weight: 550;
  padding: 20px;
  max-width: 550px;
  margin: 0 auto;
  opacity: 0.8;
}

header nav ul li {
  display: inline-block;
  padding: 0 10px;
  opacity: 0.8;
}

header nav ul li:hover {
  opacity: 0.4;
}

#logo {
  padding-top: 50px;
}

main {
  margin: 0 auto;
  max-width: 940px;
}

article h1 {
  color: #013672;
  font-weight: 700;
}

article p {
  opacity: 0.8;
}

article h6 {
  opacity: 0.4;
}

article a {
  color: inherit;
  text-decoration: none;
}